<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="https://media.istockphoto.com/vectors/log-in-web-design-flat-design-thin-line-banner-vector-illustration-vector-id1089090950?k=6&m=1089090950&s=612x612&w=0&h=XpoX7OLWaw1XpAYt1mqM09fP3iHP-fdZo3v4nbfAoc0=" alt="">
        </div>
        <div class="col-6">
            <form >
                <div   class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating " >
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>

            </form>
        </div>
    </div>
</div>